
.icon{
    cursor: pointer;
}
.heading{
    cursor: pointer;
}
.reference{
    cursor: pointer;
}.date{
    cursor: pointer;
}
.language{
    cursor: pointer;
}
.row3{
    cursor: pointer;
}
.trending{
    cursor: pointer;
}


